.cookies {
    background-color: $cookieBg;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transform: translateY(100%);

    &.cookies-show {
        transform: translateY(0);
        transition: transform 0.2s ease;
    }
    &.cookies-close {
        transition: transform 0.2s ease;
    }
    // .cookies__container
    &__container {
    }
    // .cookies__body
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }
    // .cookies__text
    &__text {
        font-family: "Noto Sans";
        font-weight: 400;
        @include adaptiveValue("font-size", 14, 12);
        @include adaptiveValue("line-height", 19, 16);
        padding-right: rem(20);
    }
    // .cookies__btn
    &__btn {
        display: inline-block;
        font-family: "Noto Sans";
        font-weight: 400;
        font-size: rem(14);
        padding: 20px 60px;
        background: $cookieButtonBg;
        border: 0.5px solid $mainColor;
        border-radius: 6px;
        transition: background 0.2s linear;
        &:hover {
            background: $cookieButtonBgHover;
        }
        @media (max-width: $mobile) {
            padding: 20px 40px;
        }
    }
}
