.intro {
    // .intro__container
    &__container {
    }
    // .intro__body
    &__body {
    }
}
.body-intro {
    display: flex;
    margin-top: 18px;
    @media (max-width: $mobile) {
        margin-top: 80px;
    }
    // .body-intro__description
    &__description {
        z-index: 100;
    }
    // .body-intro__title
    &__title {
        font-family: "Montserrat";
        font-weight: 700;
        @include adaptiveValue("font-size", 64, 35);
        @include adaptiveValue("line-height", 70, 40);
        @include adaptiveValue("min-width", 750, 230);
        width: 100%;
        @include adaptiveValue("margin-top", 140, 30);
    }

    // .body-intro__text
    &__text {
        font-family: "Noto Sans";
        font-weight: 400;
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("line-height", 27, 22);
        max-width: rem(485);
        @include adaptiveValue(" margin-top", 130, 24);

        position: relative;
        @media (max-width: $tablet) {
            @include adaptiveValue("padding-left", 5, 0);
        }
        padding-left: 125px;

        &::before {
            content: "";
            display: block;
            width: 140px;
            height: 4px;
            transform: rotate(120.61deg);
            background-color: $mainColor;
            position: absolute;
            left: -30px;
            bottom: 50px;
            @media (max-width: $tablet) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 125px;
            height: 125px;
            left: 0;
            top: -60px;
            background: rgba(96, 92, 234, 0.5);
            filter: blur(60px);
            z-index: -1;
        }
    }

    // .body-intro__phone
    &__phone {
    }
}
.phone-intro {
    position: relative;
    top: 0;
    @include adaptiveValue("right", 15, -10);
    z-index: -1;
    &::before {
        display: block;
        content: "";
        position: absolute;
        width: 662.63px;
        height: 783.03px;
        right: -350px;
        top: -310px;

        background: rgba(250, 0, 255, 0.2);
        filter: blur(250px);
        transform: rotate(-105.26deg);
        z-index: -1;
    }
    // .phone-intro__img
    &__img {
        @include adaptiveValue("max-width", 333, 161);
    }
}

.btns-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    @include adaptiveValue("margin-top", 80, 50);
    @media (max-width: $mobile) {
        flex-direction: column;
        gap: 34px;
    }
    // .btns-download__download
    &__download {
        display: inline-block;
        font-family: "Montserrat";
        font-weight: 700;
        @include adaptiveValue("font-size", 35, 24);
        @include adaptiveValue("line-height", 70, 30);
    }
    // .btns-download__apps
    &__apps {
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            gap: 34px;
        }
    }
    // .btns-download__app-store
    &__app-store {
        img {
            @media (max-width: $mobile) {
                display: block;
                width: 100%;
            }
        }
    }
    // .btns-download__google-play
    &__google-play {
        img {
            @media (max-width: $mobile) {
                display: block;
                width: 100%;
            }
        }
    }
}
