.intro {
    // .intro__container
    &__container {
    }
    // .intro__body
    &__body {
    }
}
.body-intro {
    display: flex;

    // .body-intro__description
    &__description {
    }
    // .body-intro__title
    &__title {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: rem(64);
        line-height: rem(70);
        max-width: rem(750);
        margin-top: 140px;
    }

    // .body-intro__text
    &__text {
        font-family: "Noto Sans";
        font-weight: 400;
        font-size: rem(20);
        line-height: rem(27);
        max-width: rem(485);
        margin-top: 130px;

        position: relative;
        padding-left: 125px;

        &::before {
            content: "";
            display: block;
            width: 140px;
            height: 4px;
            transform: rotate(120.61deg);
            background-color: $mainColor;
            position: absolute;
            left: -30px;
            bottom: 50px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 125px;
            height: 125px;
            left: 0;
            top: -60px;
            background: rgba(96, 92, 234, 0.5);
            filter: blur(60px);
            z-index: -1;
        }
    }

    // .body-intro__phone
    &__phone {
    }
}
.phone-intro {
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;

    &::before {
        display: block;
        content: "";
        position: absolute;
        width: 662.63px;
        height: 783.03px;
        right: -350px;
        top: -310px;

        background: rgba(250, 0, 255, 0.2);
        filter: blur(250px);
        transform: rotate(-105.26deg);
        z-index: -1;
    }
    // .phone-intro__img
    &__img {
    }

    // .phone-intro__btns
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        margin-top: 80px;
    }
    // .phone-intro__download
    &__download {
        display: inline-block;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: rem(35);
        line-height: rem(70);
    }
    // .phone-intro__apps
    &__apps {
        margin-right: 30px;
    }
    // .phone-intro__app-store
    &__app-store {
    }
    // .phone-intro__google-play
    &__google-play {
    }
}
