.section {
}
.section--mission {
    margin-top: 60px;
}
.mission {
    // .mission__container
    &__container {
    }
    // .mission__items
    &__items {
        display: flex;
        justify-content: space-around;
        margin: 0 20px;
    }
    // .mission__item
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        min-height: 312px;

        padding-left: 55px;

        border: 2px solid $missionBorder;
        border-radius: 21px;
    }
}
.item-mission {
    // .item-mission__title
    &__title {
        font-family: "Noto Sans";
        font-weight: 700;
        font-size: rem(30);
        line-height: rem(41);

        max-width: rem(340);
    }
    // .item-mission__link
    &__link {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        font-size: rem(24);
        line-height: rem(33);

        margin-top: 30px;
    }
}
