.section {
}
.section--notab {
    margin-top: 260px;
    @media (max-width: $mobile) {
        display: none;
    }
}
.notab {
    // .notab__bg
    &__bg {
        padding: 300px 10px;
        background: url("../img/notab/notab-notab.svg") left top repeat;
        box-shadow: inset 0 250px 200px #000, inset 0 -250px 200px #000;
    }
    // .notab__container
    &__container {
    }
}
.bg-notab {
    position: relative;
}
.body-notab {
    // .body-notab__phone
    &__phone {
        img {
            display: block;
            margin: 0 auto;
            @include adaptiveValue("max-width", 860, 360);
        }
    }
}
