.section {
}
.section--ordering {
    margin-top: 190px;
    @media (max-width: $mobile) {
        margin-top: 350px;
    }
}
.ordering {
    // .ordering__container
    &__container {
    }
    // .ordering__body
    &__body {
    }
}
.body-ordering {
    // .body-ordering__description
    &__description {
        display: flex;
        justify-content: end;
        @media (max-width: $tablet) {
            justify-content: start;
        }
    }
    // .body-ordering__content
    &__content {
    }
}
.description {
    // .description__title
    &__title {
    }
    // .description__title--body-ordering
    &__title--body-ordering {
        @media (max-width: $tablet) {
            width: 50%;
        }
        @media (max-width: $mobile) {
            width: 60%;
        }
    }
    // .description__text
    &__text {
    }
    // .description__text--body-ordering
    &__text--body-ordering {
    }
}
.description--body-ordering {
    width: 40%;
    @media (max-width: $tablet) {
        width: 100%;
    }
}
.content-ordering {
    position: relative;
    @media (max-width: $tablet) {
        top: 100px;
    }
    @media (max-width: $mobile) {
        top: 150px;
    }
    @media (max-width: $mobileSmall) {
        top: 230px;
    }
    // .content-ordering__phone
    &__phone {
        position: relative;
        z-index: -1;
        &::before {
            display: block;
            content: "";
            position: absolute;
            min-width: 146px;
            height: 267px;
            right: -180px;
            top: 0;
            z-index: -1;
            background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
            opacity: 0.3;
            filter: blur(130px);
            transform: rotate(5.78deg);
        }
        img {
            display: block;
            margin: 0 auto;
            @include adaptiveValue("max-width", 868, 360);
        }
    }
}
.phone-ordering {
    // .phone-ordering__row
    &__row {
        display: flex;
        width: 760px;
        height: 220px;
        margin-top: 0;
        margin-left: 150px;
        justify-content: space-between;
        z-index: 10;
    }
    // .phone-ordering__row--1
    &__row--1 {
        @include adaptiveValue("margin-left", 150, 1);
        @include adaptiveValue("max-width", 760, 300);
        @media (max-width: $mobile) {
            height: 180px;
        }
    }
    // .phone-ordering__text
    &__text {
        font-family: "Roboto";
        font-weight: 500;
        @include adaptiveValue("font-size", 22, 14);
        @include adaptiveValue("line-height", 27, 16);

        background: #000000;
        border: 0.7px solid rgba(255, 255, 255, 0.5);
        border-radius: 18px;

        @include adaptiveValue("padding", 23, 20);
    }
    // .phone-ordering__text--1
    &__text--1 {
        @include adaptiveValue("max-width", 285, 190);
        align-self: end;
        @media (max-width: $tablet) {
            align-self: start;
        }
        @media (max-width: $mobileSmall) {
            margin-right: -30px;
        }
        &:last-child {
            align-self: start;
            z-index: 10;
            @include adaptiveValue("max-width", 266, 190);
            @media (max-width: $tablet) {
                align-self: flex-end;
            }
            @media (max-width: $mobileSmall) {
                margin-right: -45px;
            }
        }
    }
    // .phone-ordering__row--2
    &__row--2 {
        z-index: 10;
        @include adaptiveValue("margin-left", 380, 1);
        margin-top: 180px;
        @include adaptiveValue("max-width", 686, 300);
        height: 150px;
        @media (max-width: $mobile) {
            height: 150px;
            margin-top: 320px;
        }
    }
    // .phone-ordering__text--2
    &__text--2 {
        @include adaptiveValue("width", 176, 130);
        align-self: flex-end;
        @media (max-width: $tablet) {
            align-self: start;
        }
        @media (max-width: $mobileSmall) {
            margin-right: -45px;
        }
        &:last-child {
            align-self: start;

            z-index: 10;
            @include adaptiveValue("width", 185, 145);

            @media (max-width: $tablet) {
                align-self: flex-end;
            }
        }
    }
}
.phone-ordering__rows {
    margin-top: -790px;
    @media (max-width: $tablet) {
        margin-top: -700px;
    }
    @media (max-width: $mobile) {
        margin-top: -590px;
    }
}
