.section {
}
.section--scanner {
    background: url(../img/scanner/bg-scanner.png) 50% top/100% auto no-repeat;
    background-size: 100% auto;
    background-position: 50%;
    padding-bottom: 0;
    max-height: 836px;

    @media (max-width: $mobile) {
        box-shadow: none;
        background-position: 0 0;
        max-height: 100%;
    }
    box-shadow: inset 0 100px 40px #000, inset 0 -40px 100px #000;
}

.scanner {
    // .scanner__container
    &__container {
    }
    // .scanner__body
    &__body {
    }
}
.body-scanner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
        flex-direction: column-reverse;
    }
    // .body-scanner__phones
    &__phones {
    }
}
.phones-scanner {
    display: flex;
    @include adaptiveValue("gap", 50, 10);
    width: 0%;
    padding-top: 442px;
    @media (max-width: $mobile) {
        flex-direction: column;
        left: 50%;
        padding-top: 70px;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    // .phones-scanner__item
    &__item {
        img {
            display: block;
            max-width: 332px;
            @media (min-width: $mobile) {
                @include adaptiveValue("max-width", 332, 2);
            }
            height: auto;

            @media (max-width: $mobile) {
                @include adaptiveValue("max-width", 332, 287);
            }
        }
    }
}
.description {
    // .description__title
    &__title {
    }
    // .description__text
    &__text {
    }
}
.description--body-scanner {
    @media (min-width: $mobile) {
        width: 100%;
        @include adaptiveValue("padding-top", 830, 410);
    }

    @media (min-width: $mobile) {
        width: rem(367.5);
    }

    @media (max-width: $mobile) {
        width: 100%;
        @include adaptiveValue("padding-top", 700, 220);
    }
}
