.section {
}
.section--tool {
    margin-top: 480px;
    margin-bottom: 545px; /* +205px */
}
.tool {
    // .tool__container
    &__container {
    }
    // .tool__body
    &__body {
    }
}
.body-tool {
    display: flex;
    justify-content: space-between;
    // .body-tool__schedules
    &__schedules {
    }
}
.description {
    // .description__title
    &__title {
    }
    // .description__text
    &__text {
    }
}
.description--body-tool {
    width: 50%;
}
.description__text--body-tool {
    width: 75%;
}
.schedules-tool {
    width: 60%;
    // .schedules-tool__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    // .schedules-tool__item-1
    &__item-1 {
        position: absolute;
        right: 40px;
        top: 0;
    }
    // .schedules-tool__item-2
    &__item-2 {
        position: absolute;
        right: 245px;
        top: 180px;
    }
    // .schedules-tool__item-3
    &__item-3 {
        position: absolute;
        right: 0;
        top: 180px;
    }
    // .schedules-tool__item-4
    &__item-4 {
        position: absolute;
        left: 0;
        top: 250px;
    }
    // .schedules-tool__item-5
    &__item-5 {
        position: absolute;
        right: 170px;
        top: 280px;
        z-index: 2;
    }
    // .schedules-tool__item-6
    &__item-6 {
        position: absolute;
        right: 250px;
        top: 380px;
    }
    // .schedules-tool__item-7
    &__item-7 {
        position: absolute;
        right: -70px;
        bottom: -510px;
    }
}
