//====================================================================================================
.footer {
    @media (min-width: $mobile) {
        padding: 150px 0 85px 0;
    }
    @media (max-width: $mobile) {
        @include adaptiveValue("padding-top", 150, 70);
        @include adaptiveValue("padding-bottom", 85, 24);
    }
    // .footer__container
    &__container {
    }
    // .footer__body
    &__body {
    }
    // .footer__row
    &__row {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 58px;
        }
    }
    // .footer__item
    &__item {
    }
}
.item-footer {
    display: flex;
    flex-direction: column;
    width: 20%;
    @include adaptiveValue("gap", 16, 14);
    @media (max-width: $mobile) {
        text-align: center;
        width: 100%;
    }

    &:first-child {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 405px;
            height: 411px;
            left: -210px;
            top: 10px;
            background: $footerViolet;
            filter: blur(300px);
            opacity: 0.7;
            z-index: -1;
        }
    }

    &:last-child {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 330px;
            height: 340px;
            left: 170px;
            top: -740px;
            background: $footerViolet;
            filter: blur(300px);
            opacity: 0.7;
            z-index: -1;
        }
    }

    // .item-footer__text
    &__text {
        font-family: "Avenir";
        font-weight: 800;
        font-size: rem(18);
        line-height: rem(24);
    }
    // .item-footer__text--notab
    &__text--notab {
        font-family: "Montserrat";
    }
}
.item-footer__text--contact {
    font-weight: 500;
}

//====================================================================================================
